In [1]:
import pandas as pd
import networkx as nx

In [23]:
al = '..\Data\out.moreno_crime_crime'
gender = '..\Data\ent.moreno_crime_crime.person.sex'
name = '..\Data\ent.moreno_crime_crime.person.name'

In [21]:
al_df = pd.read_csv(al, sep=" ", header=None)
al_df.drop(al_df.columns[len(al_df.columns)-1], axis=1, inplace=True)

In [26]:
gender_df = pd.read_csv(gender, sep=" ", header=None)

In [27]:
# name_df = pd.read_csv(name, sep=" ", header=None)

In [22]:
al_df.join()

        0    1
0       1    1
1       1    2
2       1    3
3       1    4
4       2    5
...   ...  ...
1471  825  399
1472  826  300
1473  827  265
1474  828  298
1475  829  271

[1476 rows x 2 columns]